#about {
  padding-top: 3rem;
}

.about {
  width: 100%;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  border-radius: 20px;
  background: #a896fa0a;
  margin-top: 3rem ;
}

.about__img-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;

  gap: 20px;
  width: 300px;

  img {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

.about__text {
  width: 50%;
}

.about p {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: var(--color-text);
  text-align: left;
}



@media screen and (max-width: 800px) {
  .about__container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
  }

  .about__text {
    width: 100%;
  }

  .about p {
    font-size: 16px;
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .about__text {
    width: 100%;
  }

  .about p {
    text-align: center;
    margin-top: 0;
  }

  .about__img-container {
    margin-bottom: 0;
  }
}
