.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--color-bg);
}

.footer-links {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    text-align: left;
}

.footer-links div {
    width: 250px;
    margin: 1rem;
}

.footer-links_logo {
    display: flex;
    flex-direction: column;
}

.footer-links_logo img {
    width: 70px;

    margin-bottom: 1rem;
}

.footer-links_logo p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 14px;
    color: #fff; 
}

.footer-links_div {
    display: flex; 
    justify-content: flex-start;
    flex-direction: column;   
}

.footer-links_div h4 {
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    
    margin-bottom: 1rem;
}

.footer-links_div p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    
    margin: 0.5rem 0;
    cursor: pointer;
    transition: 0.5s;
}

.footer-links_div p:hover {
    transform:  translateX(5px);
    color: var(--color-subtext);
} 

.footer-copyright {
    border-top: 1px solid var(--color-text) ;
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.footer-copyright p{
    font-family: var(--font-family);
    font-size: 12px;
    color: #fff;   
    margin-top: 2rem;
}

.cst {
    color: var(--color-text);
    transition: 0.5s;
}

.cst:hover {
    color: #fff;
}

@media screen and (max-width: 850px) {
    .footer-heading h1 {
        font-size: 44px;
        line-height: 50px;
        
    }
}

@media screen and (max-width: 550px) {
    .footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .footer-links div {
        margin: 1rem 0;
    } 

    .footer-heading p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 550px) {
    .footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }
}
