@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@import "tailwindcss";




:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #ffd700 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #042c54 99.55%);
  
  --gradient-btn: linear-gradient(103.22deg, #182646 -13.86%, #042c54 99.55%);
  
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #dac82b;
  --background-dark: #0e1830;
  --background-light: #182646;
  
  
}

h1, h2, h3 {
  font-family: var(--font-family);
  font-weight: 800;
  font-style: 62px;
  letter-spacing: -0.04em;
}